﻿@model Shopstagram.Controllers.LandingController.LandingModelWrapper
@{
    ViewBag.Title = "Home Page";
//    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        .container {
            margin: auto 80px;
        }

        .square {
            width: 300px;
            height: 300px;
            float: left;
            margin: 15px;
            background-size: cover;
        }

        .inner {
            margin: auto 20px;
        }
    </style>
</head>
	<body onload="addFileImages();">
@*		<ul><li><a href="@Model.BaseUrl/app/@Model.AppId/l/AddReview/AddReview">Add New</a></li><li><a href="#">View yours</a></li></ul>*@
		<ul><li><a href="/AddReview/AddReview?token=@Model.Token">Add New</a></li><li><a href="#">View yours</a></li></ul>
		<div class="container" >
			@foreach (var item in Model.ItemList)
			{
				<div id="@item.Id" class="square" style="background-image: url(@item.UploadedUrl)">
					<div class="inner">@item.Id</div>
				</div>
			}
		</div>
    
	</body>
</html>
