﻿@model Shopstagram.Controllers.LandingController.LandingModelWrapper
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        .container {
            margin: auto 80px;
        }

        .square {
            width: 300px;
            height: 300px;
            float: left;
            margin: 15px;
            background-size: cover;
        }

        .inner {
            margin: auto 20px;
        }
    </style>
</head>
    <body onload="addImages();">
        <ul><li><a href="/AddReview/AddReview?token=@Model.Token">Add New</a></li><li><a href="#">View yours</a></li></ul>
        <div class="container">
            @foreach (var item in Model.ItemList)
            {
                <div class="square" >
                    <div class="inner">@item.Id</div>
                </div>
            }
        </div>
        
        <script type="text/javascript">
            function addImages() {
                var ids = [@Html.Raw(String.Join(",", Model.ItemList.Select(i => "'" + i.Id + "'")))];
                var images = [@Html.Raw(String.Join(",", Model.ItemList.Select(i => "'" + i.UploadedUrl + "'")))];
                for (var i = 0; i < ids.length; i++) {
                    document.getElementById(ids[i]).style.backgroundImage = 'url(file://' + images[i] + ')';
                }
            }
        </script>
    
        @RenderBody()
    </body>
</html>


