﻿@using Microsoft.Ajax.Utilities
@model Shopstagram.Controllers.AddReviewController.AddReviewModelWrapper
@{
    ViewBag.Title = "AddReview";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        .container {
            margin: auto 80px;
        }

        .square {
            width: 300px;
            height: 300px;
            float: left;
            margin: 15px;
            background-size: cover;
        }

        .inner {
            margin: auto 20px;
        }
    </style>
</head>
    <body onload="addImages();">
        <div class="container">
            @foreach (var item in Model.List)
            {
                <div id="@item.Id" class="square" onclick="uploadNewImagePage(@item.Id)">
                    <div class="inner">@item.ProductName</div>
                </div>
            }
        </div>
        <script type="text/javascript">
            function addImages() {
                var ids = [@Html.Raw(String.Join(",", Model.List.Select(i => "'" + i.Id + "'")))];
                var images = [@Html.Raw(String.Join(",", Model.List.Select(i => "'" + i.ImageUrl + "'")))];
                for (var i = 0; i < ids.length; i++) {
                    document.getElementById(ids[i]).style.backgroundImage = 'url(' + images[i] + ')';
                }
            }

            function uploadNewImagePage(id) {
            	window.location.href = '/ImageUpload/Upload?id=' + id + '&token=@Model.Token';
            }
        </script>
    </body>
</html>
