﻿@{
    ViewBag.Title = "upload";
}

<h2>upload Image</h2>
   @using(Html.BeginForm("Save", "ImageUpload", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
<table>
<tr>
<td>Image:</td>
<td>
    <input type="file" name="UploadedFile" />
</td>
</tr>
<tr>
<td colspan="2">
<input type="submit" name="Submit" value="Submit"/>
</td>
</tr>
</table>
}